<nav>
  <a href="/" class="logo">
    moum.zip
  </a>

  <ul>
    <li>
      <a href="/zips">zips</a>
    </li>
    {% if user %}
      <li>
        <a href="/zips/{{user.user_id}}">my.zip</a>
      </li>
    {% endif %}
    <li></li>
  </ul>

  <ul class="nav-auth">
    {% if user %}
      <li><a href="#">{{user.user_id}}</a></li>
      <li><a href="/auth/logout">Log out</a></li>
    {% else %}
      <li><a href="/login">Log in</a></li>
      <li><a href="/join">Join us</a></li>
    {% endif %}
  </ul>
</nav>