<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/grid-system.css">
  <link rel="stylesheet" href="../public/css/common.css">
  <link rel="stylesheet" href="../public/css/typo.css">
  
  <title>moum.zip</title>
</head>
<body>
  <div class="container">
    <section class="center">
      <div class="col-4">
        <h1 class="section-title center-txt">Join us</h1>
        <form action="" name="auth" method="POST" class="vertical ">
          <!-- join us 일때 -->
          <div class="input-field">
            <p class="info-sm">Name</p>
            <input type="text" name="name" id="name" >
          </div>
          
  
          <div class="input-field">
            <p class="info-sm">Id</p>
            <input type="text" name="id" id="id" >
          </div>
          
  
          <div class="input-field">
            <p class="info-sm">Password</p>
            <input type="text" name="password" id="password" >
          </div>
          
  
          <div class="line"></div>
  
          <button type="submit" class="btn btn-fill">Log in</button>
          <!-- join us 일때 -->
         <button type="submit" class="btn btn-skeleton">Join us</button>
         
        </form>
      </div>
     
    </section>
  </div>
</body>
</html>