{% include "./components/top.html"%}
<title>moum.zip</title>
</head>

<body>
  <div class="container">
    {% include "./components/nav.html"%}
    <section class="center">
      <div class="col-4">
        <h1 class="section-title center-txt">
          {{type}}
        </h1>
        <form action="" method="POST" name="authForm" id="authForm" class="vertical" novalidate>
          {% if isJoin %}
          <div class="input-field">
            <p class="info-sm">Name</p>
            <input type="text" name="name" id="name" required>
          </div>
          {% endif %}

          <div class="input-field">
            <p class="info-sm">Id</p>
            <input type="text" name="id" id="id" required>
          </div>

          <div class="input-field">
            <p class="info-sm">Password</p>
            <input type="text" name="password" id="password" required>
          </div>

          <div class="line"></div>

          {% if isJoin %}
          <button type="button" class="btn btn-skeleton" id="btn-join">Join us</button>
          {% else %}
          <button type="button" class="btn btn-fill" id="btn-login">Log in</button>
          {% endif %}

        </form>
      </div>

    </section>
    {% include "./components/footer.html"%}

    <script>
      let authForm = document.getElementById('authForm');
      let join = document.querySelector('#btn-join');
      let login = document.querySelector('#btn-login');
      console.log(authForm);

      if(join){
        join.addEventListener('click',()=>{
          console.log('#btn-join');
          authForm.action='/auth/join';
          authForm.submit();
        })
      } else {
        login.addEventListener('click',()=>{
        console.log('#btn-login');
        authForm.action='/auth/login';
        authForm.submit();
       })
      }
      

      

     
    </script>
  </div>
</body>

</html>