{% include "./components/top.html"%}
<title>moum.zip</title>
</head>

<body>
  <div class="container">
    {% include "./components/nav.html"%}
    <section class="center col-12">
      <div class="col-5 col-m-6">
        <div class="center-txt">
          <h1 class="section-title">
            {{type}}
          </h1>
          <p class="typo-error">
            {{msg}}
          </p>
        </div>

        <form action="" method="POST" name="authForm" id="authForm" class="vertical" novalidate>
          <input type="hidden" name="returnTo" id="returnTo" >
        
          <div class="input-field">
            <p class="typo-info">Id</p>
            <input type="text" name="id" id="id" required>
          </div>

          <div class="input-field">
            <p class="typo-info">Password</p>
            <input type="text" name="password" id="password" required>
          </div>

          {% if isJoin %}
          <div class="input-field">
            <p class="typo-info">Name</p>
            <input type="text" name="name" id="name" required>
          </div>
          {% endif %}

          <div class="line-gray"></div>

          {% if isJoin %}
            <button type="button" class="btn btn-skeleton" id="btn-join">Join us</button>
          {% else %}
            <button type="button" class="btn btn-fill" id="btn-login">Log in</button>
          {% endif %}

        </form>
      </div>

    </section>
    {% include "./components/footer.html"%}

  </div>
  <script src="/static/src/auth.js"></script>
</body>
</html>