<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/grid-system.css">
  <link rel="stylesheet" href="../public/css/common.css">
  <link rel="stylesheet" href="../public/css/typo.css">
  <title>moumzip</title>
</head>
<body>
  <div class="container">
    <!-- {% include "./component/nav.html"%} -->
    <nav>
      <a href="#" class="logo">
        moum.zip
      </a>

      <ul>
        <li>
          <a href="#">home</a>
        </li>
        <li>
          <a href="#">my.zip</a>
        </li>
        <li></li>
      </ul>

      <ul class="nav-auth">
        <li><a href="">Log in</a></li>
        <li><a href="">Join us</a></li>
      </ul>
    </nav>

    <section class="center-txt">
      <div ></div>
      <h1 >moum.zip</h1>
      <div class="flying-wordings"></div>
    </section>
    
    <section>
      <div class="box-join center">
        <h1 class="section-title">collect your wordings</h1>
        <button id="btn-join" class="btn btn-fill">Join Us</button>
      </div>
    </section>

     <!-- {% include "./component/footer.html"%} -->
    <footer>
      <p>
        project by kim jihyun
      </p>
      <span>
        <a href="#">contact</a>
      </span>
    </footer>
  </div> 
  
</body>
</html>