{% include "./components/top.html"%}
  <title>moumzip</title>
</head>
<body>
  <div class="container">

    {% include "./components/nav.html"%}
    
    <section class="col-12 text-center">
      <h1 >moum.zip</h1>
      <div class="flying-wordings"></div>
    </section>
    
    <section class="col-12">
      <div class="box-join center">
        <h1 class="section-title  text-center">collect your wordings</h1>
        <button id="btn-join" class="btn btn-fill" type="button">Join Us</button>
        
      </div>
    </section>

    {% include "./components/footer.html"%}

  </div> 

  <script>
    document.querySelector('#btn-join').addEventListener('click',()=>{
      console.log('click')
      location.href="/join";
    });
  </script>

</body>
</html>