<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>hello world</h1>
  <h3>회원가입</h3>
  <p>{{msg}}</p>
  <form action="/auth/join" method="POST">
    id : <input type="text" name="id" id="id"><br>
    pw : <input type="password" name="password" id="password"><br>
    name : <input type="text" name="name" id="name"><br>
    <button type="submit">submit</button>
  </form>
  
  <h3>로그인</h3>
  <form action="/auth/login" method="POST">
    id : <input type="text" name="id" id="id"><br>
    pw : <input type="password" name="password" id="password"><br>
    <button type="submit">submit</button>
  </form>

  <h3>post input</h3>
  <form action="/wording/post" method="post">
    wordingId : ?? <br>
    user : <input type="text" name="user_id" id="user_id"><br>
    bookname : <input type="text" name="bookname" id="bookname"><br>
    content : <textarea name="content" id="" cols="30" rows="10"></textarea><br>
    date : ??
    <button type="submit">submit</button>
  </form>

  <h3>show post</h3>
  <form action="/wording/show" method="GET">
    <button type="submit">Show All Wording</button>
  </form>

  <h3>select Id's wording</h3>
  <form action="/wording/show" method="GET">
    id : <input type="text" name="user_id" id="user_id">
    <button type="submit">search</button>
  </form>
</body>
</html>